# Installation specific settings.

### github_uploader conf:

# From your GitHub Application page:
GITHUB_UPLOADER_CLIENT_ID = # Typically 20 hex chars 
GITHUB_UPLOADER_CLIENT_SECRET = # Typically 40 hex chars

# Serve these uploaders:
GITHUB_UPLOADERS = {
    'neic2017': {
        'full_name': 'neicnordic/neic2017',
        'description': 'NeIC 2017 conference slides repository',
        'hidden': True,
        'media_url': 'https://neic2017.nordforsk.org/slides/',
        'media_root': '/var/www/neic2017.nordforsk.org/html/slides/',
        },
        
    # This one is not shown in the list on the first page (anyone who has the 
    # url can still use it):
    'neic2017': {
        'full_name': 'neicnordic/neic2017',
        'description': 'NeIC 2017 conference website media',
        'hidden': True,
        'media_url': 'https://neic2017.nordforsk.org/media/',
        'media_root': '/var/www/neic2017.nordforsk.org/html/media/',
        },
        
    # This one is reskinned using custom staticfiles:
    'neicweb-devel': {
        'full_name': 'neicnordic/neicweb-devel',
        'description': 'Sandbox for NeIC website development',
        'media_url': 'https://neic.nbi.dk:59443/media/',
        'media_root': '/var/www/html/media/',
        'static_url': '/static/neicweb-devel/',
        },
    }

EXTRA_TEMPLATE_DIRS = ['/var/www/github_uploader/reskin/templates']
STATICFILES_DIRS = ['/var/www/github_uploader/reskin/static']


### Standard Django stuff:

PRODUCTION = False
DEBUG = True
SESSION_COOKIE_SECURE = False
ALLOWED_HOSTS = ['localhost']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '/var/www/github_uploader/db/db.sqlite3',
    }
}

STATIC_ROOT = '/var/www/github_uploader/static/'
MEDIA_ROOT = '/var/www/github_uploader/html'

SECRET_KEY = # Your Django secret key; typically 50 string.printable


