# Installation specific settings.

### Warning: incomplete example. See views.py for docs. 

#
# This is an example config. 
#
# For deployment on new systems, this file should be saved as local_settings.py 
# in a separate directory on PYTHONPATH, where world has no access, and where 
# the webserver can read but not write.
#

PRODUCTION = True
DEBUG = False # Don't set to True on servers on the Internet.
SECRET_KEY = # Typically 50 SystemRandom() string.printable
ALLOWED_HOSTS = ['neic.nordforsk.org', 'neic.nbi.dk']
ADMINS = # Put your contact info here (('Joel', 'joel@nsc.liu.se'),)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '/var/www/github_uploader/db/db.sqlite3',
    }
}

STATIC_ROOT = '/Users/joel/neicwebserver/serverdirs/static/'
MEDIA_ROOT = '/Users/joel/neicwebserver/serverdirs/'

GITHUB_UPLOADER_REPOS = {
    'neicweb': {
        'full_name': 'neicnordic/neicweb',
        'description': 'NeIC official website',
        },
    'neicweb-devel': {
        'full_name': 'neicnordic/neicweb-devel',
        'description': 'Sandbox for NeIC website development',
        },
    'ahm16': {
        'full_name': 'neicnordic/ahm16',
        'description': 'NeIC all-hands meeting 2016',
        },
    }

GITHUB_UPLOADER_REPO_TEMPLATE_DIRS = []
GITHUB_UPLOADER_REPO_STATICFILES_DIRS = []
