{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">

<title>{% block fulltitle %}{% block title %}{% endblock %} - NeICweb GitHub Uploader {% endblock %}</title>
{% block styles %}
<link media="all" rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link media="all" rel="stylesheet" type="text/css" href="/assets/css/public.css">
<link media="all" rel="stylesheet" href="/assets/css/all.css">
<link media="all" rel="stylesheet" href="{% static "github/uploader.css" %}">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
{% endblock %}
</head>
<body>

<header id="header" style="padding-top: 2px;"></header>
<section class="intro" style="background: #1c1725 url(/assets/img/{% if PRODUCTION %}bg-intro.jpg{% else %}banjo.jpg{% endif %}) repeat-x 50% 0; display: block; margin: 0 0 0px;">

<div class="account-box" style="text-align: right; height: 25px; color: white; padding: 5px 1em;">
<a style="color:inherit;" href="{% url "github_uploader.views.top" %}">Home</a> &nbsp;
{% if user.is_authenticated %}
    <b>{{ user.username }}</b> &nbsp;
    <a style="color:inherit;" href="{% url "github_uploader.views.logout" %}">Logout</a>
{% else %}
    <a style="color:inherit;" href="{% url "github_uploader.views.login" %}">Login</a>
{% endif %}
</div>

	<div class="intro-holder" style="max-width: 1250px; min-height: 257px; position: relative; margin: 0 auto; overflow: hidden;">
		<div class="text" style="color: white; width: 430px; background: {% if PRODUCTION %} rgba(137,93,251,0.7) {% else %} rgba(241,140,1,0.87) {% endif %}; 
  font-size: 19px;
  line-height: 32px;
  color: #fff;
  padding: 21px 10px 9px 30px;
  position: absolute;
  bottom: 0;
  height: 106px;">
			{% block banner %}
			<p style="margin: 0.5em 0;"> <b>NeICweb GitHub Uploader {% if PRODUCTION %} Devel {% endif %}</b>
			<p style="margin: 0.5em 0;"> ~ Snazzier media uploads for the NeIC web ~ 
			{% endblock %}
		</div>
	</div>
</section>
<ul id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<div id="content" style="margin-left: 5em;">
{% block content %}
{% endblock content %}
</div>    
</body>
</html>
