{% extends "github_uploader/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<h1>Login</h1>

<p>This service needs access to information and authorizations from your GitHub account to do uploads in your name. 
Click the button below to get access:

<form method="POST">
{% csrf_token %}
<input type="submit" value="Get authorizations from your GitHub account">
</form>
<br>

<p>To be able to use this service you need a <a href="https://github.com/">GitHub account</a>, and be part 
of the <a href="https://github.com/neicnordic">neicnordic organization</a> on GitHub. 

<p>NeIC personnel are welcome to contact their project leader or area coordinator to get access.


{% endblock content %}