{% extends "github_uploader/base.html" %}

{% block fulltitle %}{% if not PRODUCTION %} TESTING - {% endif %} NeICweb GitHub Uploader {% endblock %}

{% block content %}
<h1>Home</h1>
<p>To be able to use this service you need a <a href="https://github.com/">GitHub account</a>, and be part 
of the <a href="https://github.com/neicnordic">neicnordic organization</a> on GitHub. 

<p>NeIC personnel are welcome to contact their project leader or area coordinator to get access.

<h2>Shortcuts</h2>
<ul>
<li><a href="{% url "github_uploader.views.upload" %}">Upload</a>
</ul>
{% endblock content %}