{% extends "github_uploader/base.html" %}

{% block fulltitle %}NeICweb GitHub Uploader {% endblock %}

{% block content %}
<h1>Obsoletion notice</h1>
<p>This service will be shut down after 2016-04-10.

<p>This service was deployed when GitHub had no web GUI to let users upload files directly. Now GitHub has such a GUI, which makes this 
service obsolete. 

<p>The recommended way of uploading files to GitHub from a web browser is now to use the GitHub file upload GUI, which you can access
by clicking the "Upload files" button which you can find on top of any directory listing page on GitHub. 

<h1>Home</h1>
<p>To be able to use this service you need a <a href="https://github.com/">GitHub account</a>, and have
write access to the repositories you want to upload to. 

<p>NeIC personnel are welcome to contact their project leader or area coordinator to get access.

<p><b>Presently, you can only upload new files using this service.</b> 
To change, rename or delete files, you can use for example <a href="http://windows.github.com/">GitHub for Windows</a> 
or command line git. If you run into trouble, any NeIC technical staff can help you do this. 


<h2>Uploaders</h2>
<div class="repolist">
{% for uploadername, repoconf in uploaders %}
<dt><a href="{% url "github_uploader.views.upload" uploadername %}">{{ uploadername }}</a></dt>
<dd>    
    <a class="repolink" href="https://github.com/{{ repoconf.full_name }}">https://github.com/{{ repoconf.full_name }}</a><br/>
    <span class="description">{{ repoconf.description }}</span>    
</dd>
{% endfor %}
</div>
{% endblock content %}
